<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Test WTF</title>
        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>

    <body>
        <h1>App Login</h1>

        <p>
            To access the app please log in.
        </p>
        <p>
            You may login as "guest" with any password to access some features. However,
            some features are only available to registered users.
        </p>

        <br/>

        <!--
            Use jquery to allow different actions by different buttons
            in the same form.
            Logic taken from:
                https://stackoverflow.com/questions/7953301/2x-submit-buttons-to-action-different-url
        -->
        <form name="submission" method="POST" action="">
            <div>{{ form.csrf_token }}</div>
            <div>{{ form.username.label }} {{ form.username(size=20) }}</div>
            <div>{{ form.password.label }} {{ form.password() }}</div>
            <input type="hidden" name="operation" value="" />
            <input type="button" value="Sign-in" />
            <input type="button" value="Register" />
        </form>
        <script>
            jQuery(function($) {
                var form = document.submission;
                $(form).find("input[type='button']").click(function() {
                    form.operation = this.value;
                    form.action = this.value == 'Sign-in' ? '/sign_in' : '/';
                    form.submit();
                    return false;
                });
            });
        </script>

        <!-- show messages from server -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </body>

</html>
