<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Control Times</title>
    </head>
    <body>
        <table>
            <tr>
                <th style="padding:15px"> Open </th>
                <th style="padding:15px"> Close </th>
            </tr>
            {% for time_id in range(num_times) %}
            <tr>
                <td style="padding:10px">{{ times["open"][time_id] }}</td>
                <td style="padding:10px">{{ times["close"][time_id] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
